<h1>Editar Colegiado</h1>

<%= render 'form', colegiado: @colegiado %>

<%= link_to 'Voltar para Colegiados', colegiados_path, class: 'button botaovoltar' %>
<%= link_to 'Mostrar', @colegiado, class: 'button botaoavancar' %> 
