/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require toastr
 *= require_tree .
 *= require_self
 */

table .col2{
width: 50%;
border-collapse: collapse;
}

table .col3{
width: 33%;
border-collapse: collapse;
}

table .col4{
width: 25%;
border-collapse: collapse;
}

/*
table .formatacaotabela{
width: 50%;
border-collapse: collapse;
}
*/

th .formatacaotabela{
background-color:#CCC;
font-size: 12px;
color:#484848;
padding-left:4px;
padding-right:4px;
border-bottom:solid 1px #CCC;
height:26px;
}

tr .formatacaotabela, td .formatacaotabela{
height: 30px;
padding-left:10px;
padding-right:10px;
font-family:Verdana, Geneva, sans-serif;
font-size:14px;
white-space:nowrap;
border-bottom:solid 1px #E1E1E1;
}


body, html {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%
}

.centralizarconteudo{
  text-align: center;
}

.header, .footer {
  width: 100%;
  background: #114506; /*#3273dc*/
  padding: 10px;
  box-sizing: border-box;
  color: whitesmoke;
}
.header {
  height: 7%;
  font-family: Verdana, sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
.footer {
  height: 13%;
}
.content {
  background: #eee;
  width: 100%;
  padding: 0px;
  height: 80%;
  box-sizing: border-box;
}
 /*
 .left, .right {
  height: 100%;
  line-height: normal;
  padding: 0px; 
} 
.left {
  width: 66%;
  float: left;
  background: whitesmoke;
}
.right {
  width: 34%;
  float: right;
  background: #ccc;
}
*/
/* AQUIII TAVA O COMENTARIO  */
.w100 {
  height: 100%;
  line-height: normal;
  padding: 0px; 
  width: 100%;
  /* float: left; */
  background: white;
}
.w100 * {
  font-size: x-large;
  line-height: normal;
}
.mesa {
  color: #777;
}
.codigovaga {
  color: darkcyan;
}
.row {
  box-sizing: border-box;
  height: 16.666666666666%;
  /*line-height: 16.66666666667%;*/
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
  /*display: table-cell;*/

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.row:first-child {
  text-decoration: underline;
}
.row:not(:first-child) {
  font-size: x-large;  
}

.highlight {
  color: darkred;
}
.empty {

}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 80%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.ui-dialog * {
  font-size: x-large;
  line-height: normal;
}

.full {
  box-sizing: border-box;
  line-height: normal;
}
.titulos{
  font-weight: bold;
  position: absolute;
  left: 10%;  
  top: 23%;
  }


.formatacaotabela{
  width: 100%;
  margin-bottom : 1.5em;
  text-align: center;
  border-collapse: collapse;

}





                                          
                                          /* https://www.w3schools.com/css/css3_buttons.asp */

                                                              /* BOTÕES */
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}


.buttonmenor {
  border: none;
  color: white;
  padding: 7px 15px;
  margin: 10px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.buttonminusculo {
  border: none;
  color: white;
  padding: 2px 6px;
  margin: 10px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
}

.buttongrande{
  border: none;
  color: white;
  padding: 20px 120px;
  margin: 10px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.buttonmenutopo{
  padding: 4px 12px;
  margin: 10px 0px 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
}

.green {
  background-color: #4CAF50;
}

.green:hover{
  background-color: #152d16;
}

.blue{
  background-color: #00e5ff;
}

.azulclaro{
  background-color: #00aabd;
}

.verdeclaro{
  background-color: #0dff00;
}

.amareloclaro{
  background-color: #f3e30a;
}
.red{
  background-color: red;
}

.btimpar{
  background-color: #d0d0d0;
}


.btpar{
  background-color: #dddddd;
}


.botaovoltar{
  height: 3%;
  width: 13%;
  position:fixed;
  background:#fff;
  left: 4%;
  top: 40%;
  background-color: #ec7b7bb3; /*#66666661;*/
  border-radius: 50px 0px 0px 50px; 
  line-height: 100%;
}

.botaoavancar{
  height: 3%;
  width: 13%;
  position:fixed;
  background:#fff;
  right: 4%;
  top: 40%;
  background-color: #64b57ecf;/*#66666661;*/
  border-radius: 0px 50px 50px 0px; 
  line-height: 100%;
}



.botaovoltaralunos{
  position: absolute;
  top: 80%;
  left: 4%;
  height: 3%;
  width: 13%;
  background:#fff;  
  background-color: #ec7b7bb3; /*#66666661;*/
  border-radius: 50px 0px 0px 50px; 
  line-height: 100%;
}

.botaoavancaralunos{
  position: absolute;
  top: 80%;
  right: 4%;
  height: 3%;
  width: 13%;
  background:#fff;
  background-color: #64b57ecf;/*#66666661;*/
  border-radius: 0px 50px 50px 0px; 
  line-height: 100%;
}

.botaocriarnovo{
  height: 3%;
  width: 12%;
  position:fixed;
  right: 4%;
  top: 5%;
  background-color: #0dff00;
}






/*
.botaotopomenu1{
position: absolute;
top: 2%;
left: 3%;
}

.botaotopomenu2{
position: absolute;
top: 2%;
left: 7%;
}

.botaotopomenu3{
position: absolute;
top: 2%;
left: 11%;  
}

.botaotopomenu4{
position: absolute;
top: 2%;
left: 15%;  
}

.botaotopomenu5{
position: absolute;
top: 2%;
left: 19%;  
}

.botaotopomenu6{
position: absolute;
top: 2%;
left: 23%;  
}

.botaotopomenu7{
position: absolute;
top: 2%;
left: 27%; 
}

*/


                                                            /* IDs */

#menutopoesquerdo ul {
    position: absolute;
    top: 0%;
    left: 2%;
    padding:0px;
    margin:0px;
    list-style:none;
}

#menutopoesquerdo ul li {
  display: inline; 
}

#direitaa{
position: absolute;
right: 5%;
top: 15%;
width: 40%;
height: 50%;
}


#mesas{
  position: absolute;
  left: 10%;  
  top: 25%;
}


#lgufbadcc{
  position:fixed;
  background:#fff;
  left: 4%;
  top: 0px;
}

#relogio{
  position:fixed;
  background-color: #fff;
  right: 4%;
  top: 0%;
  color: #0096e2;
  font-family: arial;
  padding: 21px 30px 21px 30px;
  font-weight: bolder;
}


#npatd{
  color: green;
}


#npagd{
  color: red;
  line-height: 15px;
}


#tmatd{
  color: blue;
  line-height: 15px;
}


#tme{
  color: red;
  line-height: 15px;
}

#telaprincipalestatistica{
font-weight: bolder;
}


@media screen and (max-width:768px) {
  
  #relogio, #lgufbadcc{
    display: none;
    }

    #npatd, #npagd, #tmatd, #tme, #mesas, #direitaa, #descricao{
      font-size: 10px;
    }

    .titulos, .mesa, .codigovaga, .nomealuno, .plvest{
        font-size: 10px;
    }


}