<h1>Editar Rodada</h1>

<%= render 'form', rodada: @rodada %>

<%= link_to 'Mostrar', @rodada, class: 'button botaoavancar'  %>
<%= link_to 'Voltar para Rodadas', rodadas_path, class: 'button botaovoltar'  %>
